body{background: #fff;font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;margin:0;}
h1, h2, h3, h4, h5, h6{font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;letter-spacing: 5px;}
p{font-family: メイリオ, meiryo, "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", sans-serif;letter-spacing: 4px;line-height: 27px;}
h1 {font-size: 2.1em;margin:0 0 0.67em 0;color: #111;font-weight: 400;}

/** header style by Mark **/
.container{margin:0 auto;}	
.no-container{width: 100%;margin:0 auto;}
header .top-header, .mrow{display: flex;}
header .banner-top{background:url(../img/banner-bg.jpg) center center;height: 330px;}
header .top-logo {float: left;width: 85%;text-align: center;padding:0 15px;}
header .top-lng {float: left;width: 15%;padding:0 15px;}
header .top-logo h1{margin: 0;line-height: 1;}
header .top-logo .logo-brand {display: inline-block;padding:30px 10px;}
header #navi {text-align: center;}
header .top-lng span a{text-decoration: none;color:#000;}
header nav ul.navibar li {display: inline-block;}
header nav ul.navibar li a {display: block;color: #fff;text-decoration: none;padding: 12px 99px;text-transform: uppercase;letter-spacing: 5px;font-size: 23px;font-weight: 300;}
header .top-navi, footer .bot-navi {background: rgba(166,26,27,1);background: -webkit-linear-gradient(top, rgba(166,26,27,1) 0%, rgba(166,26,27,1) 10%, rgba(166,26,27,1) 32%, rgba(196,92,92,1) 100%);background: linear-gradient(to bottom, rgba(166,26,27,1) 0%, rgba(166,26,27,1) 10%, rgba(166,26,27,1) 32%, rgba(196,92,92,1) 100%);border-top: 1px solid #cc2320;box-shadow: 1px 2px 3px rgba(17, 17, 17, 0.88);}
header .top-navi #navi ul{margin:0;display: flex;justify-content: center;padding: 0;}
header nav ul.navibar li.active, header nav ul.navibar li:hover{background: rgba(174,36,36,1);background: -webkit-linear-gradient(top, rgba(174,36,36,1) 0%, rgba(174,36,36,1) 45%, rgba(219,97,96,1) 100%);background: linear-gradient(to bottom, rgba(174,36,36,1) 0%, rgba(174,36,36,1) 45%, rgba(219,97,96,1) 100%);}
header .top-lng span {display: block;margin: 47px 0;text-align: right;font-size: 12px;letter-spacing: 1px;}

/** content style by Mark **/
#home {padding: 50px 0;padding-bottom: 185px;}
.c-home{text-align: center;width: 100%;padding: 0px 280px;}
#home .c-home .bb-head {display: inline-block;border-bottom: 1px solid #555;}
#home .c-home p{text-align: left;font-size: 17px;}
#home-leaf .c-leaf{background:#f7f8fa url(../img/home_leaf-bg.jpg) no-repeat;padding-bottom: 150px;}
#home-leaf .c-leaf .lbanner{position: relative;top: -175px;}
#home-leaf .c-leaf .lbanner img {margin-bottom: 10px;width: 100%;}
#home-leaf .c-leaf .lbanner p {text-align: left;font-size: 14px;letter-spacing: 0;}

/** footer style by Mark **/
footer .bot-navi ul {display: flex;justify-content: flex-start;list-style-type: none;width: 100%;padding-left: 80px;margin: 0;}
footer .bot-navi ul li {display: inline-block;}
footer .bot-navi ul li a {font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;padding: 15px 10px;display: block;color: #fff;text-decoration: none;text-transform: uppercase;}
footer .bot-fb .fb-title {width: 100%;}
footer .bot-fb, footer .bot-copy{background: #000;padding: 10px 15px;}
footer .bot-fb p{font-size: 13px;color:#fff;}
footer .bot-fb .fb {width: 100%;background: #fff;}
footer .bot-fb .mrow {display: inline-block;width: 100%;}
footer .footer-bot {width: 100%;text-align: center;}
footer .bot-copy p{letter-spacing: 0px;color: #fff;}


/** responsive style by Mark **/
@media (min-width: 768px){
.container{width: 740px;}	
}
@media (min-width: 992px){
.container{width: 960px;}	
}
@media (min-width: 1200px){
.container{width: 1200px;}	
}

@media (max-width: 1199px){
#home-leaf .c-leaf .lbanner {top: -115px;}
#home {padding-bottom: 120px;}
#home-leaf .c-leaf {background-position: center 46px;}
header .banner-top {height: 230px;background-size: cover;}
header nav ul.navibar li a{padding: 7px 62px;}
.c-home {padding: 0px 190px;}
}
@media (max-width: 991px){
header nav ul.navibar li a {font-size: 20px;padding: 7px 70px;}
.c-home {padding: 0px 90px;}
}
@media (max-width: 767px){
.container{width:auto;}	
header nav ul.navibar li a {font-size: 17px; padding: 5px 38px;}
header .top-logo {width: 50%;}
header .top-lng {width: 50%;}
header .top-lng span {margin: 27px 0;}
header .top-logo .logo-brand {padding: 10px;}
header .top-logo .logo-brand img {width: 225px;}
header .top-lng span {margin: 17px 0;text-align: center;}
header .top-logo {width: 70%;}
header .top-lng {width: 30%;}
header .banner-top{height: 200px;background-size: 730px;}
#home .c-home, #home-leaf .c-leaf {padding: 0px 15px;}
#home-leaf .c-leaf{background-position: center 70px;padding-bottom: 150px;}
#home {padding: 30px 0;}
#home-leaf .c-leaf .lbanner {top: -25px;}
#home .c-home .bb-head {font-size: 27px;margin-bottom: 5px;}
#home .c-home p {font-size: 15px;letter-spacing: 1px;}
footer .bot-fb .fb iframe{width: 100%;}
footer .bot-copy p {font-size: 14px;line-height: 21px;}
}
@media (max-width: 575px){
.container{width:auto;}	
header nav ul.navibar li a {font-size: 12px; padding: 8px 12px;}
header .top-logo .logo-brand {padding: 10px 0;}
header .top-lng span {margin: 19px 0;}
header .top-logo, header .top-lng {padding: 0;}
header .top-navi #navi ul {justify-content: space-between;}
#home-leaf .c-leaf {background: #f1f4f9;padding-bottom: 0;}
footer .bot-navi ul {justify-content: center;padding-left: 0px;text-align: center;}
footer .bot-navi ul li a {font-size: 12px;}

}


